* {
    box-sizing: border-box;
}

.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}
 body {
   background-color: yellow;
   font-family: 'Bungee Shade';font-size: 22px;
 }

 .power-saving-status {
   color: blue;
 }

 h2 {
font-size: 100px
}

 header {
     background-color: #428;
     padding: 30px;
     text-align: center;
     font-size: 35px;
     color: white;
 }

 footer {
     background-color: #691;
     padding: 10px;
     text-align: center;
     color: white;
     /* position: fixed; */
     bottom: 0;
     font-size: 35px;
 }

 article {
    float: left;
    padding: 20px;
    width: 70%;
    height: 300px;
    background-color: #299;
    text-align: center;
}

section:after {
    content: "";
    display: table;
    clear: both;
}

nav {
    float: left;
    width: 30%;
    height: 300px;
    background: #811;
    padding: 30px;
    text-align: center;
}
